<!DOCTYPE html>
{% extends 'home.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/createCategory.css' %}">
    {% endblock %}
    {% block title %}
        <title>Agregar Categoría</title>
    {% endblock %}
</head>
<body>

    {% block content %}
        <form method="POST">
            {% csrf_token %}

            {{ taskForm }}

            <button>Guardar</button>
        </form>
    {% endblock %}

</body>
</html>
