<!DOCTYPE html>
{% extends "home.html" %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block script %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="{% static 'js/extraData.js' %}"></script>
    {% endblock %}
    {% block style %}
        {% if opposite == 'Dark mode' %}
            <link rel="stylesheet" href="{% static 'css/createTasks.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'css/darkCreateTask.css' %}">
        {% endif %}
    {% endblock %}
    {% block title %}
        <title>Agregar Tarea</title>
    {% endblock %}
</head>
<body>

{% block content %}
    <form method="POST">
        {% csrf_token %}

        <h1>Creación de Tarea</h1>

        {{ taskForm }}

        <br>

        <div style="display:none;" class="extra" id="d_0">
            {{ extraData }}
            <input type="button" id="id_n_0" name="n_0" value="Eliminar" class="deleter standardButton" data-div="d_0" style="display: none"></input>
            <script>
                $('.deleter').click(function(){
                    var div = $(this).attr('data-div');
                    if(!(div === 'd_0')){
                        $('#'+div+":last").remove();
                        $(this).remove();
                    }
                });
            </script>
        </div>
        <input style="display:none;" name="isExtra" id="isExtra" value="False">
        <input class="standardButton" type="button" value="Añadir Datos Extra" id="add_more" firstPass="True">
        <script>
            $('#add_more').click(function() {
                if($('#add_more').attr('firstPass')==='True'){

                    $('#add_more').attr({'firstPass':'False'});
                    $('#add_more').attr({'value':'Añadir más'});
                    $('#d_0').attr({'style':'display:inherit;'});
                    $('#id_name').attr({'required':''});
                    console.log($('#isExtra'));
                    $('#isExtra').attr({'value':'True'});
                    console.log($('#isExtra'));

                }
                else{
                    cloneMore('div.extra:last', 'service');
                }
            });
        </script>
        <button id="button">Guardar</button>
    </form>
{% endblock %}

</body>
</html>
