<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/createTasks.css" %}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="{% static 'js/extraData.js' %}"></script>
    </head>
    <body>
        <form method = "POST">
            {% csrf_token %}

            {{ taskForm }}

            <br>

            <div style="display:none;" class="extra" id="d_0">
                {{ extraData }}
                <input type="button" id = "id_n_0" name = "n_0" value="Eliminar" class = "deleter standardButton" data-div="d_0" style="display: none"></input>
                <script>
                    $('.deleter').click(function(){
                        var div = $(this).attr('data-div');
                        if(!(div === 'd_0')){
                            $('#'+div+":last").remove();
                            $(this).remove();
                        }
                    });
                </script>
            </div>

            <input class="standardButton" type="button" value="Añadir Datos Extra" id="add_more" firstPass="True">
            <script>
                $('#add_more').click(function() {
                    if($('#add_more').attr('firstPass')==='True'){

                        $('#add_more').attr({'firstPass':'False'});
                        $('#add_more').attr({'value':'Añadir más'});
                        $('#d_0').attr({'style':'display:inerit;'});

                    }
                    else{
                        cloneMore('div.extra:last', 'service');
                    }
                });
            </script>
            <script>
                $('#add_more').click(function() {
                    
                });
            </script>

            <button>Guardar</button>
        </form>
    </body>
</html>