<!DOCTYPE html>
{% load static %}
{% load descState %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
        {% if opposite == 'Dark mode' %}
            <link rel="stylesheet" href="{% static 'css/home.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'css/darkHome.css' %}">
        {% endif %}
    {% endblock style %}

    {% block title %}
        <title>Home</title>
    {% endblock title %}
    {% block script %}
        <script src="{% static "js/taskFilters.js" %}"></script>
    {% endblock %}
    
</head>
<body>

<div class="container">
    <nav class="sidebar">
        <ul>
            <li><a href="/" class="active">Inicio</a></li>
            <li><a href="/createTasks/" class="add-task">Agregar Tarea</a></li>
            <li><a href="/createCategory/" class="add-category">Agregar Categoría</a></li>
            <li><a href="/calendar/" class="calendar">Ir al Calendario</a></li>
            <li><a href="/logout" class="logout">Log Out</a></li>
            <li><form method="POST">{% csrf_token %}<button>{{opposite}}</button></form></li>
        </ul>
    </nav>

    <div class="content" method = "POST">
        {% block content %}
        
            <div class="header">
                <h1>Bienvenido, {{ user.username }} </h1>
            </div>

            <div class="tasks-table">
                <h2>Tareas Pendientes</h2>
                <p>Titulo: <input type="text" id="idS" onkeyup="nameSearch()"></p>
                <p>Descripcion: <input type="text" id="idSd" onkeyup="descSearch()"></p>
                {{filter.as_p}}
                <input onclick = 'dates()' type='button' value='Limitar'>
                <table id="tTable">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Descripción</th>
                            <th>Categoría</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí puedes iterar sobre las tareas y llenar la tabla dinámicamente -->
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.taskName }}</td>
                                <td>{{ task.taskDescription }}</td>
                                <td>{{ task.category }}</td>
                                <td>{{ task.taskState | descState }}</td>
                                <td>{{ task.dueDate }}</td>
                                <td>
                                    <a href="{% url 'taskDetails' task.id %}">
                                        <button type="button">
                                            editar
                                        </button>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        {% endblock content %}
    </div>
</div>

</body>
</html>
